.accent-line {
  box-sizing: content-box;
  display: inline-block;
  height: 0.71em;
  padding-top: 0.16em;
  margin-top: -0.16em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  overflow: hidden;

  white-space: nowrap;

  span {
    display: inline-block;

    @include gpu-screen-animation;
  }
}
